<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">


  <xacro:macro name="sensor_IMU" params="parent" >

  <gazebo reference="IMU_link">
    <sensor name="sensor_IMU" type="imu">
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <topic>"imu_data"</topic>
    </sensor>
  </gazebo>

  <joint name="IMU_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.15000"/>
    <parent link="${parent}"/> 
    <child link="IMU_link"/>
  </joint>
  

  <link name="IMU_link">
    <visual name="IMU">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="Ruedas"/>
      <geometry>
        <box size="0.10000 0.10000 0.10000"/>
      </geometry>
    </visual>
  </link>
   

  </xacro:macro>
</robot>