<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
<robot name="robot" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- includes -->
    <xacro:include filename="$(find robot_description)/urdf/base/robot_base.urdf.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/wheels/rover_wheel.urdf.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/arm/scara.urdf.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/arm/gripper.urdf.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/ros2_control.urdf.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/utils/utils.urdf.xacro"/>

    <xacro:include filename="$(find robot_description)/urdf/sensors/camera.urdf.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/sensors/imu_sensor.urdf.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/sensors/sensors.urdf.xacro"/>

    <!-- Propiedades -->
    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:property name="wheel_offset_x" value="0.95"/>
    <xacro:property name="wheel_offset_y" value="0.95"/>
    <xacro:property name="wheel_offset_z" value="-0.38"/>
    <xacro:property name="arm_offset_x" value="0.0"/>
    <xacro:property name="arm_offset_y" value="0.82"/>
    <xacro:property name="arm_offset_z" value="0.69"/>

    <!-- argumentos -->
    <xacro:arg name="robot_ns" default=""/>
    <xacro:arg name="prefix" default=""/>
    <!-- Robot Parts -->

    <xacro:utils/>
    <!-- Base -->
    <xacro:robot_base/>
    <!-- Wheels -->
    <xacro:rover_wheel parent="Base_link"/>

    <!-- Arm -->
    <xacro:scara parent="Base_link"/>
    <xacro:gripper parent="mano_link"/>


    <!-- sensores -->

    <xacro:sensor_camera_front parent="Base_link"/>
    <xacro:sensor_camera_gripper parent="mano_link"/>
    <xacro:sensor_IMU parent="mano_link"/>

    <!-- Gazebo ROS control plugins -->

    <!--<xacro:arg name="config_controllers" default="$(find gz_ros2_control_demos)/config/diff_drive_controller.yaml"/> -->

    <xacro:arg name="config_controllers" default="$(find robot_description)/config/config.yaml"/>
    <xacro:arg name="update_rate" default="100"/>
    
    <xacro:ros2_control/>
   
</robot>